body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background: #2196F3;
    grid-row-gap: 10px;
    grid-column-gap:10px;
    grid-template-rows: 80px 200px 300px;
    padding: 10px;
    
}
.item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}