
li{
    color: white;
    padding: 10px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    
    

    
}
a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;

}
a:first-child{
    letter-spacing: 5px;
}
ul {
    background-color: aqua;
        
}
a:hover{
    color: black;
}
a:first-child{
    letter-spacing: 5px;
}
