body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #c32e4c;
    height: 15vh;
    background-size: cover;
    background-position: center;
}
#header img{
    width: 70%;
    padding-top: 50px;
    float: left;
}
#header .welcome-text{
    padding-top: 50px;
    font-size: 20px;
    float: right;
    color: white;
}
/*--------------------------Navbar---------------------------*/
.navbar-expand{
    background-color: #C42847;

    
}
#navbarNav{
    justify-content: center;
}
nav ul li a{
    color: #fff;
}

/*-----------------------------image slider-------------------------------*/

#carouselExampleControls{
    height: 350px;
    overflow: hidden;

}
#carouselExampleControls img{
    margin-top: -100px;
}

/*-----------------------------welcome-------------------------------*/

#welcome ul li{
    list-style: none;
}
#welcome h1{
    margin-top: 20px;
}
#welcome{
    margin-top: 50px;
    
}


/*-----------------------------celebrate with us-------------------------------*/
#participants{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 6%;
}
#participants img{
    width: 80%;
}
#participants{
    padding-top: 10px ;
}
#participants .col-sm-6 p{
    padding:20px 10px;
    width: 80%;
    text-justify: center;
    background-color: #fff;
    
}
img:hover{
    border-top-left-radius: 50px;
    border-bottom-right-radius:50px;
}
p:hover{
    border-radius: 50px;
    
}
/*---------------------------------schedual---------------------------------------*/

table, th, td {
    border: 1px solid #000;
  }

  table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }


/* cards custom css */

#schedule{
    text-align: center;
}



/*-------------------------------------Registration Form-------------------------------------*/
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

#registration{
    margin-top: 30px;
    margin-bottom: 30px;
}