main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
section{
    background: darkblue;
    border: 2px solid gray;
    color: white;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
section:last-child{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 250px;
}